@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

body {
    background-image: url(../images/birdhuntTheme.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
}

.game-bg-image {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 100% 100% ;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

.gameChoise {
    --bs-gutter-x: -15.5rem;
    --bs-gutter-y: 1.3rem;
}
.homeTilte {
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-size: 8vw;
    font-weight: 800;
    color: #de7a29;
    margin: 2px;
    padding-top: 2rem;
    letter-spacing: 3px;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3600e;
    font-family:sans-serif ;
    font-size: 2.7vw;
    font-weight: 400;
    width: 80px;
    height: 80px;
    background-color: #e4c465d7;
    border-radius: 50%;
    position: absolute;
    margin-top: 1vw;
  }

.resultBox {
    --bs-gutter-x: 1rem;
    position: relatiave;
    --bs-gutter-y: 1rem;
    text-align: center;
} 

#endGame {
    height: 270px;
    width: 30rem;
    border-radius: 10px;
    background-color: #eac880;
    box-sizing:border-box;
    position: relative;
    left: 25%;
    margin: 1rem;
    top: 4rem;
}

#timeEnd{
    height: 250px;
    width: 20rem;
    border-radius: 10px;
    box-sizing:border-box;
    background-color: #eac880;
    position: relative;
    left:24% ;
    margin: 1rem;
    top: 5rem;
}

#endtitle{
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #de7a29;
    padding: 0.2rem
}

.endresult {
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: black;
    margin: 0.5rem;
}

.gameContainer {
    max-width: 55%;
    height: 200px;
    border-radius: 10px;
    margin-top: 25px;
}

.btn-primary-play{
    --bs-btn-padding-x: 1.7rem;
    --bs-btn-padding-y: 0.6rem;
    font-size: 2.4vw;
    color: #fff;
    font-family: 'Pangolin', sans-serif;
    background-color: #0d3afdb3;
    cursor: pointer;
}

.btn-primary-instrct{
    --bs-btn-padding-x: 1.20rem;
    --bs-btn-padding-y: 0.6rem;
    font-size: 2.3vw;
    color: #fff;
    font-family: 'Pangolin', sans-serif;
    background-color: #0d3afdb3;
    cursor: pointer;
    margin-top: 6px;

}

.btn-primary-play:hover , .btn-primary-instrct:hover {
    background-color: #0d39fdfe;
    color: black;
}

img {
    max-width: 130px;
    height: auto;
    position: absolute;
    bottom: 0;

}

.modal-title {
    font-size: 3rem;
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-weight: 700;
    color: #de7a29;
}

.modal-body h3{
    font-family: 'Pangolin', sans-serif;
}

#scores, #bullets {
    position: absolute;
    font-size: 25px;
    color: black;
    left: 3px;
    font-weight: 400;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1px;
    background-color: #d3d3d35c;
    
}

.footer  p, a,
i {
    color: #b43706;
    padding: 0.2vw;
    margin: 0px;
    font-size: 1.8vw;
    text-align: left;
    text-decoration: none;
}

.footer > a,
i:hover {
    color: #ef5316b7;
}


#b1{
    right:100%;
    animation: bird1 8s infinite;
    animation-timing-function: linear;
}

#b2{
    right:100%;
    animation: bird2 10s infinite;
    animation-timing-function: linear;
}

#b3{
    left:100%;
    animation: bird3 6s infinite;
    animation-timing-function: linear;
}
#b4{
    left:100%;
    animation: bird4 9s infinite;
    animation-timing-function: linear;
}

#b5{
    left:100%;
    animation: bird5 9s infinite;
    animation-timing-function: linear;
}

#b6{
    right:100%;
    animation: bird6 10s infinite;
    animation-timing-function: linear;
}

#b7{
    left:100%;
    animation: bird7 11s infinite;
    animation-timing-function: linear;
    
}

#b8{
    right:100%;
    animation: bird8 9s infinite;
    animation-timing-function: linear;
}

#b9{
    left:100%;
    animation: dragon 11s infinite;
    animation-timing-function: linear;
}

#b10{
    left:100%;
    animation: bird10 11s infinite;
    animation-timing-function: linear;
}

#b11{
    right:100%;
    animation: turky 6s infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
}

@keyframes bird1 {
    0% {right: 0px; top:30px;}
    5% {top:-15px;}
    10% {top:20px;}
    20% {top:-20px;}
    40% {top:15px;}
    50% {top:-25px;}
    60% {top:25px;}
    80% {top:-30px;}
    90% {top:20px;}
    100% {right: 100%; top:30px;}
    
}

@keyframes bird2 {
    0% {right: 0px; top:90px;}
    5% {top:-15px;}
    10% {top:50px;}
    15% {top:-20px}
    20% {top:70px;}
    40% {top:-10px;}
    50% {top:100px;}
    60% {top:-10px;}
    80% {top:170px;}
    90% {top:-20px;}
    100% {right: 100%; top:220px;}
}

@keyframes bird3 {
    0% {left: 0px; top:90px;}
    5% {top:-15px;}
    10% {top:50px;}
    15% {top:-20px}
    20% {top:70px;}
    30% {top:-10px;}
    50% {top:100px;}
    60% {top:-10px;}
    80% {top:170px;}
    90% {top:-20px;}
    100% {left: 100%; top:220px;}
}

@keyframes bird4 {
    0% {left: 0px; bottom:100px;}
    5% {bottom:-15px;}
    10% {bottom:90px;}
    15% {bottom:-20px}
    20% {bottom:120px;}
    30% {bottom:-10px;}
    50% {bottom:100px;}
    60% {bottom:-10px;}
    80% {bottom:170px;}
    90% {bottom:-20px;}
    100% {left: 100%; bottom:220px;}
}

@keyframes bird5 {
    0% {left: 0px; bottom:150px;}
    25% {bottom:200px;}
    50% {bottom:120px;}
    75% {bottom:200px;}
    100% {left: 100%; bottom:250px;}
}


@keyframes bird6 {
    0% {right: 0px; top:300px;}
    5% {top:250px;}
    10% {top:300px;}
    15% {top:350px}
    20% {top:400px;}
    40% {top:450px;}
    50% {top:300px;}
    60% {top:370px;}
    80% {top:330px;}
    90% {top:400px;}
    100% {right: 100%; top:350px;}
}

@keyframes bird7 {
    0% {left: 0px; bottom:400px;}
    5% {bottom:330px;}
    10% {bottom:380px;}
    15% {bottom:450px}
    20% {bottom:320px;}
    30% {bottom:415px;}
    50% {bottom:350px;}
    60% {bottom:400px;}
    80% {bottom:370px;}
    90% {bottom:480px;}
    100% {left: 100%; bottom:420px;}
}

@keyframes bird8 {
    0% {right: 0px; bottom:50px;}
    5% {bottom:-10px;}
    10% {bottom:30px;}
    20% {bottom:-15px;}
    40% {bottom:25px;}
    50% {bottom:-20px;}
    60% {bottom:25px;}
    80% {bottom:-10px;}
    90% {bottom:20px;}
    100% {right: 100%; bottom:30px;}
}

@keyframes dragon {
    0% {left: 0px; top:150px;}
    25% {top:200px;}
    50% {top:160px;}
    75% {top:100px;}
    100% {left: 100%; top:300px;}
}

@keyframes bird10 {
    0% {left: 0px; bottom:150px;}
    25% {bottom:200px;}
    50% {bottom:120px;}
    75% {bottom:200px;}
    100% {left: 100%; bottom:350px;}
}

@keyframes turky {
    0% {right: 0px; bottom: 35px;}
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      top: 100%;
      left: 0;
    }

    .gameContainer {
        height: auto;
        margin-top: 25%;
    }

    #endGame {
        height: auto;
        max-width: 25rem;
        left: 20%;
        margin: 1rem;
        top: 2rem;
    }
    
    #timeEnd{
        height: auto;
        max-width: 20rem;
        left:20% ;
        margin: 1rem;
        top: 3rem;
    }
    
  }