@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

.bg-main-page {
    background-image: url(../images/birdhuntTheme.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.bg-game-image {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

.homeContainer {
    width: 100%;
    height: 100%;
}

.gameChoise {
    --bs-gutter-x: -15.5rem;
    --bs-gutter-y: 1.3rem;
}

.homeTilte {
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-size: 10vw;
    font-weight: 800;
    color: #de7a29;
    margin: 5px;
    padding: 6px;
    letter-spacing: 3px;
}

.row-btns {
    margin: auto 18%;
}

.btn-primary-play {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.6rem;
    font-size: 2.4vw;
    color: #fff;
    font-family: 'Pangolin', sans-serif;
    background-color: #0d3afdb3;
    cursor: pointer;
    margin: 2% auto;
}

.btn-primary-instrct {
    --bs-btn-padding-x: 1.20rem;
    --bs-btn-padding-y: 0.6rem;
    font-size: 2.3vw;
    color: #fff;
    font-family: 'Pangolin', sans-serif;
    background-color: #0d3afdb3;
    cursor: pointer;
    margin: 3% auto;
}

.btn-primary-play:hover,
.btn-primary-instrct:hover {
    background-color: #0d39fdfe;
    color: black;
}

.modal-title {
    font-size: 3rem;
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-weight: 700;
    color: #de7a29;
}

.modal-body h3 {
    font-family: 'Pangolin', sans-serif;
}

img {
    max-width: 130px;
    height: auto;
    position: fixed;
    bottom: 0;
}

.popingAnimals {
    opacity: 0;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3600e;
    font-family: sans-serif;
    font-size: 2.4vw;
    font-weight: 400;
    width: 80px;
    height: 80px;
    background-color: #e4c465d7;
    border-radius: 50%;
    position: absolute;
    margin-top: 1vw;
}

.resultBox {
    text-align: center;
    padding: 10px 0px;
}

#endGame {
    height: 220px;
    width: 300px;
    border-radius: 10px;
    background-color: #eac880;
    box-sizing: border-box;
    position: relative;
    margin: 10% auto;
}

#timeEnd {
    height: 210px;
    width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #eac880;
    position: relative;
    margin: 10% auto;
}

#gameOver {
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #b43706;
    padding: 5px 2px;
}

#endTimeTitle{
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #b43706;
    padding: 5px 2px;
}

.endresult {
    font-family: 'Pangolin', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: black;
    margin: 3px;
}

#scores,
#bullets {
    position: absolute;
    font-size: 4vh;
    color: black;
    left: 3px;
    font-weight: 400;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1px;
    background-color: #d3d3d35c;
}

.footer p,
a,
i {
    color: #b43706;
    padding: 0.2vw;
    margin: 0px;
    font-size: 1.8vw;
    text-align: left;
    text-decoration: none;
}

.footer>a,
i:hover {
    color: #ef5316b7;
}

/*--The Birds animals Section--*/

#flamingo_1 {
    right: 100%;
    animation: flamingo_1 9s infinite;
    animation-timing-function: linear;
}

#crow {
    right: 100%;
    animation: crow 10s infinite;
    animation-timing-function: linear;
}

#pelican {
    left: 100%;
    animation: pelican 6s infinite;
    animation-timing-function: linear;
}

#blueBird_1 {
    left: 100%;
    animation: blueBird_1 9s infinite;
    animation-timing-function: linear;
}

#crane {
    left: 100%;
    animation: crane 7s infinite;
    animation-timing-function: linear;
}

#flamingo_2 {
    right: 100%;
    animation: flamingo_2 7s infinite;
    animation-timing-function: linear;
}

#blueBird_2 {
    left: 100%;
    animation: blueBird_2 11s infinite;
    animation-timing-function: linear;

}

#flamingo_3 {
    right: 100%;
    animation: flamingo_3 10s infinite;
    animation-timing-function: linear;
}

#dragon {
    left: 100%;
    animation: dragon 11s infinite;
    animation-timing-function: linear;
}

#blueBird_3 {
    left: 100%;
    animation: blueBird_3 10s infinite;
    animation-timing-function: linear;
}

#turky {
    right: 100%;
    animation: turky 5s infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
}

@keyframes flamingo_1 {
    0% {
        right: 0px;
        top: 30px;
    }

    5% {
        top: 9px;
    }

    10% {
        top: 20px;
    }

    20% {
        top: 40px;
    }

    40% {
        top: 10px;
    }

    50% {
        top: 35px;
    }

    60% {
        top: 25px;
    }

    80% {
        top: 30px;
    }

    90% {
        top: 10px;
    }

    100% {
        right: 100%;
        top: 30px;
    }

}

@keyframes crow {
    0% {
        right: 0px;
        top: 90px;
    }

    5% {
        top: 15px;
    }

    10% {
        top: 50px;
    }

    15% {
        top: 10px
    }

    20% {
        top: 70px;
    }

    40% {
        top: 10px;
    }

    50% {
        top: 40px;
    }

    60% {
        top: 4px;
    }

    80% {
        top: 120px;
    }

    90% {
        top: 20px;
    }

    100% {
        right: 100%;
        top: 220px;
    }
}

@keyframes pelican {
    0% {
        left: 0px;
        top: 90px;
    }

    5% {
        top: 3px;
    }

    10% {
        top: 50px;
    }

    15% {
        top: 2px
    }

    20% {
        top: 70px;
    }

    30% {
        top: 5px;
    }

    50% {
        top: 100px;
    }

    60% {
        top: 4px;
    }

    80% {
        top: 170px;
    }

    90% {
        top: 3px;
    }

    100% {
        left: 100%;
        top: 220px;
    }
}

@keyframes blueBird_1 {
    0% {
        left: 0px;
        bottom: 100px;
    }

    5% {
        bottom: -15px;
    }

    10% {
        bottom: 90px;
    }

    15% {
        bottom: -20px
    }

    20% {
        bottom: 120px;
    }

    30% {
        bottom: -10px;
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: -10px;
    }

    80% {
        bottom: 170px;
    }

    90% {
        bottom: -20px;
    }

    100% {
        left: 100%;
        bottom: 220px;
    }
}

@keyframes crane {
    0% {
        left: 0px;
        bottom: 150px;
    }

    25% {
        bottom: 200px;
    }

    50% {
        bottom: 120px;
    }

    75% {
        bottom: 200px;
    }

    100% {
        left: 100%;
        bottom: 250px;
    }
}


@keyframes flamingo_2 {
    0% {
        right: 0px;
        top: 300px;
    }

    5% {
        top: 250px;
    }

    10% {
        top: 300px;
    }

    15% {
        top: 350px
    }

    20% {
        top: 400px;
    }

    40% {
        top: 450px;
    }

    50% {
        top: 300px;
    }

    60% {
        top: 370px;
    }

    80% {
        top: 330px;
    }

    90% {
        top: 400px;
    }

    100% {
        right: 100%;
        top: 350px;
    }
}

@keyframes blueBird_2 {
    0% {
        left: 0px;
        bottom: 400px;
    }

    5% {
        bottom: 330px;
    }

    10% {
        bottom: 380px;
    }

    15% {
        bottom: 450px
    }

    20% {
        bottom: 320px;
    }

    30% {
        bottom: 415px;
    }

    50% {
        bottom: 350px;
    }

    60% {
        bottom: 400px;
    }

    80% {
        bottom: 370px;
    }

    90% {
        bottom: 480px;
    }

    100% {
        left: 100%;
        bottom: 420px;
    }
}

@keyframes flamingo_3 {
    0% {
        right: 0px;
        bottom: 50px;
    }

    5% {
        bottom: 10px;
    }

    10% {
        bottom: 30px;
    }

    20% {
        bottom: 9px;
    }

    40% {
        bottom: 25px;
    }

    50% {
        bottom: 10px;
    }

    60% {
        bottom: 25px;
    }

    80% {
        bottom: 4px;
    }

    90% {
        bottom: 20px;
    }

    100% {
        right: 100%;
        bottom: 30px;
    }
}

@keyframes dragon {
    0% {
        left: 0px;
        top: 150px;
    }

    25% {
        top: 200px;
    }

    50% {
        top: 160px;
    }

    75% {
        top: 100px;
    }

    100% {
        left: 100%;
        top: 300px;
    }
}

@keyframes blueBird_3 {
    0% {
        left: 0px;
        bottom: 150px;
    }

    25% {
        bottom: 200px;
    }

    50% {
        bottom: 120px;
    }

    75% {
        bottom: 200px;
    }

    100% {
        left: 100%;
        bottom: 350px;
    }
}

@keyframes turky {
    0% {
        right: 0px;
        bottom: 35px;
    }
}

.mobiles {
    display: none;
    max-width: 320px;
    height: 250px;
    color: #fff;
    background-color: #252222da;
    border-radius: 5px;
    font-size: 30vw;
    font-weight: 500;
    font-family: 'Roboto', serif;
    margin: 12% auto;
    padding: 2px;
}

.mobiles,
p {
    padding: 10px;
    margin: 10px;
    text-align:center;
}

@media only screen and (orientation: portrait) {
    div.mobiles {
        display: block;
        height: auto;
    }

    .homeContainer {
        display: none;
    }

    .game-page-container {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    html {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        top: 100%;
        left: 0;
    }

    .homeContainer {
        height: auto;
    }

    #endGame {
        height: auto;
    }

    #timeEnd {
        height: auto;
        margin: 15% auto;
    }

    .homeTilte {
        position: relative;
        margin: 5px;
        padding: 1px;
    }

    .endresult {
        font-size: 16px;
    }

    #endtitle {
        font-size: 18px;
    }

    .row-btns {
        margin: 8% 15%;
    }

    .btn-primary-play {
        --bs-btn-padding-x: 1.2rem;
        --bs-btn-padding-y: 0.1rem;
        font-size: 18px;
    }

    .btn-primary-instrct {
        --bs-btn-padding-x: 0.8rem;
        --bs-btn-padding-y: 0.1rem;
        font-size: 18px;
    }

    img {
        max-width: 70px;
        height: auto;
    }
}